.App {
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-content {
  --content-margin: calc(var(--unit) * 4);
  --inner-content-padding: calc(var(--unit) * 6);
  display: flex;
  position: relative;
  margin: 0 var(--content-margin);
  width: calc(100% - 40px);
}

.App-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--inner-content-padding);
}

.App-letters-controls {
  display: flex;
  justify-content: space-between;
}

.App-letters-controls > * {
  margin: var(--unit);
}

.App .ToastMessage {
  position: absolute;
  left: 50%;
  top: calc(var(--inner-content-padding) / 2);
  transform: translate(-50%, -50%);
}

.App-words {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  padding-top: var(--inner-content-padding);
}

.App-words .Progress {
  margin-bottom: calc(var(--unit) * 4);
}

.App-score {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  color: var(--text-color-dim);
}

.App-error {
  padding: 16px;
  background: #ffdddd;
  border-radius: 6px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Login {
  border: solid 1px var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background: var(--surface);
  width: 15rem;
}

@media screen and (min-width: 641px) {
  .App-content {
    --content-margin: calc(var(--unit) * 10);
    --inner-content-padding: calc(var(--unit) * 12);
    width: calc(100% - 100px);
    max-width: 800px;
  }

  .App-letters-controls {
    margin-top: calc(var(--unit) * 8);
  }

  .App-words {
    padding-left: calc(var(--big-space) * 4);
  }

  .App-words .Progress {
    margin-bottom: calc(var(--unit) * 4);
  }

  .App-letters {
    flex-grow: 0;
  }

  .App-letters .LetterInput {
    margin-bottom: calc(var(--unit) * 8);
  }
}

@media screen and (max-width: 640px) {
  .App-content {
    flex-direction: column;
    height: calc(100% - 80px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--unit) * 8);
  }

  .App-letters {
    flex: 1;
    justify-content: space-evenly;
  }

  .App .ToastMessage {
    top: 110px;
    transform: translate(-50%, 0);
  }

  .App-letters .ToastMessage {
    top: 20px;
  }

  .App-words {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .App-words-expanded .App-words {
    flex-grow: 1;
    max-height: 100%;
  }

  .App-words-expanded .App-letters {
    max-height: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}
