.App {
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-content {
  display: flex;
  width: 100%;
  flex: 1;
  max-width: 960px;
  position: relative;
}

.App-letters-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(var(--big-space) * 2);
}

.App-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .Message {
  position: absolute;
  top: -56px;
}

.App-letters .Input {
  margin-bottom: calc(var(--unit) * 4);
}

.App-words-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: calc(var(--big-space) * 2);
  --vert-pad: calc(var(--unit) * 4);
  padding-top: var(--vert-pad);
  padding-bottom: var(--vert-pad);
}

.App-words {
  display: flex;
  flex-direction: column;
  padding-right: calc(var(--unit) * 10);
  width: 100%;
}

.App-words .Progress,
.App-words .Words {
  margin-bottom: calc(var(--unit) * 4);
}

.App-score {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  color: var(--text-color-dim);
}

.App-error {
  padding: 16px;
  background: #ffdddd;
  border-radius: 6px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
  .App-content {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .App-letters-wrapper {
    padding-right: 0;
    margin-top: calc(var(--unit) * 4);
    padding: 0;
    flex-direction: column;
  }

  .App-words-wrapper {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(var(--unit)* 4);
  }

  .App-words {
    padding: 0;
  }
}
