.App {
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-content-wrapper {
  width: 100%;
  max-width: 960px;
  height: 100%;
}

.App-content {
  display: flex;
  position: relative;
  margin: calc(var(--unit) * 4);
}

.App-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .Message {
  position: absolute;
  top: -56px;
}

.App-words {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  justify-content: flex-start;
}

.App-words .Progress {
  margin-bottom: calc(var(--unit) * 4);
}

.App-score {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  color: var(--text-color-dim);
}

.App-error {
  padding: 16px;
  background: #ffdddd;
  border-radius: 6px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 641px) {
  .App-words {
    padding-left: calc(var(--big-space) * 8);
  }

  .App-words .Progress {
    margin-bottom: calc(var(--unit) * 4);
  }

  .App-letters {
    flex-grow: 0;
  }

  .App-letters .Input {
    margin-bottom: calc(var(--unit) * 8);
  }
}

@media screen and (max-width: 640px) {
  .App-content {
    flex-direction: column;
    height: calc(100% - 80px);
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    margin-top: calc(var(--unit) * 4);
  }

  .App-letters {
    flex-grow: 1;
    padding-top: calc(var(--unit) * 6);
  }

  .App-words {
    padding: 0;
  }

  .App-words-expanded .App-words {
    flex-grow: 1;
  }

  .App-words-expanded .App-letters {
    max-height: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}
