.MenuBar {
  --menu-height: calc(var(--unit) * 6);
  width: 100%;
  flex-shrink: 0;
  display: flex;
  height: var(--menu-height);
}

.MenuBar-bar {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 11;
  background: var(--background);
  box-sizing: border-box;
  border-bottom: solid 1px var(--border-color);
}

.MenuBar-left,
.MenuBar-right {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.MenuBar-left {
  justify-content: flex-start;
}

.MenuBar-right {
  justify-content: flex-end;
}

.MenuBar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 calc(var(--unit) * 3);
  position: relative;
}

.MenuBar-item:hover,
.MenuBar-item-active {
  background: var(--shaded);
}

.MenuBar-item .MenuBar-notify {
  position: absolute;
  right: 0;
}

.MenuBar-select-list {
  max-height: 75vh;
  list-style-type: none;
  margin: 0;
  padding: calc(var(--unit) * 4);
  font-size: 120%;
  overflow-y: auto;
}

.MenuBar-select-item {
  margin-bottom: calc(var(--big-space));
  cursor: pointer;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  background: var(--shaded);
  display: flex;
}

.MenuBar-select-item-noselect {
  background: none;
  border: none;
  cursor: default;
}

.MenuBar-select-item-highlight {
  background: var(--highlight);
}

.MenuBar-select-item:last-child {
  margin-bottom: 0;
}

.MenuBar-select-item .MenuBar-select-id {
  margin-top: var(--unit);
  letter-spacing: normal;
  width: auto;
}

.MenuBar-select-controls {
  display: flex;
  flex-direction: column;
}

.MenuBar-select-control {
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  margin: calc(var(--unit) / 2) calc(var(--unit));
}

.MenuBar-select-control.MenuBar-pressable:hover {
  background: var(--shaded-hover);
  border-radius: var(--border-radius);
}

.MenuBar-select-control-icon {
  color: var(--text-color);
  width: calc(var(--unit) * 3);
}

.MenuBar-select-users .MenuBar-select-item .MenuBar-select-id {
  letter-spacing: normal;
}

.MenuBar-select-item:hover {
  opacity: 0.8;
}

.MenuBar-select-item:not(.MenuBar-select-item-noselect):active {
  background: var(--shaded);
}

.MenuBar-select-info {
  font-size: var(--font-size-small);
  padding: var(--unit) calc(var(--unit) * 2);
  margin: 0;
  flex: 1;
}

.MenuBar-select-info > div {
  display: flex;
  margin-bottom: var(--unit);
}

.MenuBar-select-info > div:last-child {
  margin-bottom: 0;
}

.MenuBar-select-info dt {
  width: 9ex;
  min-width: 9ex;
  color: var(--text-color-dim);
  display: inline-block;
}

.MenuBar-select-info dd {
  display: inline-block;
}

.MenuBar-select-users .MenuBar-select-info dt {
  width: 4em;
}

.MenuBar-select-info dd {
  margin: 0;
}

.MenuBar-select-letters {
  font-family: monospace;
  letter-spacing: 4px;
}

.MenuBar-select-letters-center {
  font-weight: bold;
}

.MenuBar-menu {
  position: absolute;
  right: var(--unit);
  top: calc(var(--menu-height) + var(--unit));
  z-index: 10;
  background: var(--background);
  text-align: left;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.MenuBar-menu-item:not(:last-child) {
  padding-bottom: 0;
}

.MenuBar-menu-item {
  padding: calc(var(--unit) * 2);
}

.MenuBar-pressable {
  cursor: pointer;
}

.MenuBar-menu-item-pressable:hover {
  background: var(--shaded);
}

.MenuBar-menu-section {
  border-bottom: solid 1px var(--border-color);
}

.MenuBar-menu-section:last-child {
  border-bottom: none;
}

.MenuBar-notify {
  color: red;
}
