.Message {
  margin: 8px 0;
  display: flex;
  padding: 8px 16px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity, 0.25s, transform 0.5s;
  align-items: center;
  background: var(--highlight);
  color: var(--text-color);
}

.Message-visible {
  opacity: 1;
}

.Message-good {
  background: none;
  border: solid 1px var(--border-color);
  transform: translateY(-10px);
}
