.Progress {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  justify-content: center;
  user-select: none;
}

.Progress-thresholds {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
}

.Progress-thresholds .Progress-threshold {
  --size: calc(var(--unit) * 3);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: default;
  font-size: calc(var(--size) / 2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--size) / 4);
  width: var(--size);
  height: var(--size);
  background: var(--shaded);
  color: var(--text-color-dim);
  margin-left: calc(var(--unit) * 1.5);
}

.Progress-thresholds .Progress-threshold-met {
  background: var(--highlight);
  color: var(--highlight);
}

.Progress-thresholds .Progress-threshold-current {
  --size: var(--font-size-large);
  color: var(--text-color-bright);
}

@media screen and (orientation: landscape) and (max-width: 730px) {
  .Progress-thresholds {
    flex-grow: 0;
  }

  .Progress-thresholds .Progress-threshold {
    display: none;
  }

  .Progress-thresholds .Progress-threshold-current {
    display: flex;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  .Progress-thresholds {
    flex-grow: 0;
  }

  .Progress-thresholds .Progress-threshold {
    display: none;
  }

  .Progress-thresholds .Progress-threshold-current {
    display: flex;
  }
}
