.Words {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-normal);
  overflow: hidden;
  flex: 1;
  width: 100%;
  background: var(--background);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Words-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--unit);
  padding-left: var(--big-space);
}

.Words-metrics {
  font-size: var(--font-size-small);
  color: var(--text-color-dim);
}

.Words-list-wrapper {
  position: relative;
  flex: 1;
  display: block;
}

.Words-list {
  list-style-type: none;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  padding-bottom: var(--unit);
  display: flex;
  flex-flow: column wrap;
  max-height: 100%;
  align-content: flex-start;
}

.Words-word-pangram {
  font-weight: var(--font-weight-bold);
}

.Words-word {
  display: block;
  padding: var(--unit) var(--big-space);
  text-align: left;
  margin-right: calc(var(--unit) * 8);
}

.Words-word-clickable {
  cursor: pointer;
}

.Words-word-clickable:hover {
  text-decoration: underline;
}

.Words-show-list {
  display: none;
}

.Definition {
  font-family: serif;
  font-size: var(--font-size-normal);
  padding: calc(var(--big-space) * 2);
}

.Definition-word {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.Definition-definitions {
  text-align: left;
  margin: 0;
  margin-top: 1em;
  padding-left: 1.5em;
  font-style: italic;
  max-width: 20em;
}

.Definition-definition {
  margin-bottom: 1em;
  font-style: italic;
}

.Definition-definition:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 641px) {
  .Words-list {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 640px) {
  .Words {
    position: relative;
    bottom: 0;
    min-height: 38px;
    flex: 0;
    transition: all 0.25s;
  }

  .Words:not(.Words-collapsed) {
    height: calc(100% - 40px);
    flex: 1;
  }

  .Words-list-wrapper {
    overflow: hidden;
    overflow-y: auto;
  }

  .Words:not(.Words-expanded) .Words-controls {
    display: none;
  }

  /* Hide the words list as it transitions */
  .Words:not(.Words-expanded):not(.Words-collapsed) .Words-list {
    display: none;
  }

  .Words-collapsed .Words-list {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 0;
    overflow-x: hidden;
  }

  .Words-list {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .Words-collapsed .Words-word {
    margin-right: 0;
  }

  .Words-list .Words-word {
    padding: 8px;
  }

  .Words .Words-show-list {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: calc(var(--unit) * 6);
    background: var(--background);
    border: none;
    box-shadow: -8px 0 8px var(--background);
  }
}
