.LetterInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-large);
  height: 1.5em;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.LetterInput-cursor {
  --blink: blinky steps(2, start) 1500ms infinite;
  animation: var(--blink);
  -webkit-animation: var(--blink);

  height: 90%;
  width: 2px;
  background: var(--highlight);
}

@keyframes blinky {
  to { visibility: hidden; }
}

.LetterInput-letter {
  margin-right: 4px;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.LetterInput-letter-invalid {
  color: var(--text-color-dim);
}

.LetterInput-invalid {
  animation: shake ease-in-out 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0px); }
  20% { transform: translateX(8px); }
  40% { transform: translateX(-8px); }
  60% { transform: translateX(8px); }
  80% { transform: translateX(-8px); }
  100% { transform: translateX(0px); }
}

.LetterInput-11 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.95);
}
.LetterInput-12 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.90);
}
.LetterInput-13 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.85);
}
.LetterInput-14 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.80);
  margin-right: 3px;
}
.LetterInput-15 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.75);
  margin-right: 3px;
}
.LetterInput-16 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.70);
  margin-right: 3px;
}
.LetterInput-17 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.65);
  margin-right: 2px;
}
.LetterInput-18 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.60);
  margin-right: 2px;
}
.LetterInput-19 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.55);
  margin-right: 1px;
}
.LetterInput-20 .LetterInput-letter {
  font-size: calc(var(--font-size-large) * 0.55);
  margin-right: 1px;
}
