.Message {
  display: flex;
  padding: 8px 16px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity, 0.25s, transform 0.5s;
  background: var(--background-glass);
  align-items: center;
  color: var(--text-color);
  white-space: nowrap;
}

.Message-visible {
  opacity: 1;
}

.Message-good {
  background: var(--highlight);
  border: solid 1px var(--border-color);
  transform: translateY(-10px);
}

.Message-bad {
  background: var(--warn-background);
  color: var(--warn-foreground);
  border: solid 1px var(--border-color);
  transform: translateY(-10px);
}
