.Spinner {
  display: flex;
  width: 64px;
  height: 64px;
  margin: var(--unit);
  position: relative;
}

.Spinner-cell-shape {
  transform: scale(0.8);
  transition: all 0.1s;
  cursor: pointer;
}

.Spinner-cell-shape-active {
  fill: var(--shaded-active);
  transform: scale(0.9);
  transform-origin: center center;
}

.Spinner-cell text {
  fill: var(--text-color);
}

.Spinner-cell {
  fill: var(--shaded);
  position: absolute;
  top: calc(95% / 3);
  left: calc(95% / 3);
  height: calc(110% / 3);
  width: calc(110% / 3);
  transition: transform 0.5s;
  animation: color-cycle 2s infinite;
}

.Spinner-cell-0 {
  transform: translate(-80%, -46%);
  animation-delay: 0.0s
}

.Spinner-cell-1 {
  transform: translate(0%, -92%);
  animation-delay: 0.1s
}

.Spinner-cell-2 {
  transform: translate(80%, -46%);
  animation-delay: 0.2s
}

.Spinner-cell-center {
  fill: var(--highlight);
  transform: translate(0, 0);
  animation-delay: 0.6s
}

.Spinner-cell-3 {
  transform: translate(80%, 46%);
  animation-delay: 0.3s
}

.Spinner-cell-4 {
  transform: translate(0%, 92%);
  animation-delay: 0.4s
}

.Spinner-cell-5 {
  transform: translate(-80%, 46%);
  animation-delay: 0.5s
}

@keyframes color-cycle {
  0% { fill: transparent; }
  33% { fill: var(--shaded); }
  66% { fill: var(--highlight); }
  100% { fill: transparent; }
}
