.App {
  text-align: center;
  color: var(--text-color);
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-letters-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: calc(var(--big-space) * 2);
}

.App-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .Message {
  position: absolute;
  top: -48px;
}

.App-letters .Input {
  margin-bottom: var(--big-space); 
}

.App-words-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: calc(var(--big-space) * 2);
}

.App-words {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.App-words .Progress,
.App-words .Words {
  margin-bottom: 8px;
}

.App-words .Progress {
  margin-bottom: var(--big-space);
}

.App-score {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  color: var(--text-color-light);
}

.App-gameId {
  color: var(--text-color-light);
}

.App-error {
  padding: 16px;
  background: #ffdddd;
  border-radius: 6px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .App-letters-wrapper {
    padding-right: 0;
    margin-bottom: var(--big-space);
    flex-direction: column;
  }

  .App-words-wrapper {
    padding-left: 0;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .App-words {
    width: 100%;
    max-width: 500px;
  }
}
