.App {
  --text-color: #222;
  --text-color-light: #999;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --letter-font-size: 24px;

  text-align: center;
  color: var(--text-color);
  padding: 40px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 800px;
  margin: 64px auto;
}

.App > * {
  margin: 8px 0;
}

.App-debug {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  margin: 0;
  padding: 16px;
  color: #999;
  background: #f7f7f7;
}

.App-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 32px;
}

.App-words {
  display: flex;
  flex-direction: column;
}

.App-words > * {
  margin-bottom: 8px;
}

.App-words .Progress {
  margin-bottom: 16px;
}

.App-score {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  color: var(--text-color-light);
}

.Message {
  position: absolute;
  top: 0;
}

.App-gameId {
  color: var(--text-color-light);
}

.App-error {
  padding: 16px;
  background: #ffdddd;
  border-radius: 6px;
  margin: 0 auto;
}
