.App {
  --text-color: #555;
  text-align: center;
  color: var(--text-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.App > * {
  margin: 8px 0;
}

.App-words {
  display: flex;
  justify-content: center;
}

.App-words > * {
  margin: 0 8px;
}

.App-letters > * {
  margin: 0 4px;
}

.App-letter {
  border: solid 1px #ccc;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
}

.App-letter-center {
  background: #ff000040;
}

.App-input {
  display: flex;
  justify-content: center;
}

.App-input-letter {
  font-size: 150%;
  margin: 0 8px;
}

.App-input-letter-invalid {
  color: #cccccc;
}
