.Button {
  --color: var(--text-color-bright);
  background: var(--shaded);
  border-radius: 8px;
  border: none;
  padding: 16px 24px;
  font-size: var(--font-size);
  color: var(--color);
  transition: background 0.1s;
  cursor: pointer;
  touch-action: none;
}

.Button:hover {
  background: var(--shaded-hover);
}

.Button:active {
  background: var(--shaded-active);
  color: var(--color);
}

.Button-small {
  font-size: var(--font-size-small);
  padding: 4px 8px;
  border-radius: 4px;
}

.Button-link {
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

.Button-link:hover {
  background: none;
  border-bottom: solid 1px var(--text-color-bright);
  color: var(--text-color-bright);
}

.Button-link:active {
  background: none;
  color: inherit;
}

.Button-text {
  background: none;
  color: inherit;
  padding: 2px 4px;
  margin: 0;
}

.Button-text:active {
  background: none;
  color: var(--text-bright);
}
