.Button {
  --color: var(--text-color);
  --border-color: #ddd;
  border-radius: 8px;
  border: solid 1px var(--border-color);
  background: #eee;
  padding: 16px 24px;
  font-size: 120%;
  color: var(--color);
  transition: background 0.1s;
  cursor: pointer;
  touch-action: none;
}

.Button:active {
  background: var(--border-color);
  color: var(--color);
}

.Button-small {
  font-size: 73%;
  padding: 4px 8px;
  border-radius: 4px;
}
