.GameSelect {
  color: var(--text-color-dim);
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameSelect-id {
  cursor: pointer;
  border: none;
  color: inherit;
  background: none;
  font-size: 18px;
  letter-spacing: var(--unit);
  width: 7em;
}

.GameSelect-list {
  max-height: 75vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.GameSelect-item {
  margin: calc(var(--big-space));
  cursor: pointer;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--unit) calc(var(--unit) * 2);
  background: var(--shaded);
  position: relative;
}

.GameSelect-item .GameSelect-id {
  margin-top: var(--unit);
  letter-spacing: normal;
  width: auto;
}

.GameSelect-users .GameSelect-item .GameSelect-id {
  letter-spacing: normal;
}

.GameSelect-item:hover {
  background: var(--shaded-hover);
}

.GameSelect-item:active {
  background: var(--shaded);
}

.GameSelect-info {
  font-size: var(--font-size-small);
  margin-top: var(--unit);
}

.GameSelect-info > div {
  display: flex;
}

.GameSelect-info dt {
  width: 7em;
  color: var(--text-color-dim);
}

.GameSelect-users .GameSelect-info dt {
  width: 4em;
}

.GameSelect-info dd {
  margin: 0;
}

.GameSelect-remove {
  position: absolute;
  top: 0;
  right: 2px;
}

.GameSelect-controls {
  margin-left: var(--unit);
  dispay: flex;
}

.GameSelect-controls > * {
  margin-left: var(--unit);
}
