.GameSelect {
  color: var(--text-color-dim);
}

.GameSelect-id {
  cursor: pointer;
  border: none;
  padding: 0;
  color: inherit;
  background: none;
  font-size: 18px;
  text-align: center;
  letter-spacing: var(--unit);
}

.GameSelect-games {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.GameSelect-game {
  margin: calc(var(--big-space));
  cursor: pointer;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--unit) calc(var(--unit) * 2);
  background: var(--shaded);
}

.GameSelect-game:hover {
  background: var(--shaded-hover);
}

.GameSelect-game:active {
  background: var(--shaded);
}

.GameSelect-info {
  font-size: var(--font-size-small);
}

.GameSelect-info > div {
  display: flex;
}

.GameSelect-info dt {
  width: 7em;
  color: var(--text-color-dim);
}

.GameSelect-info dd {
  margin: 0;
}
