html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;

  --text-color: #222;
  --text-color-light: #999;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
  --letter-font-size: 24px;
  --highlight: #bbddff;
  --highlight-active: #99ccff;
  --shaded: #dddddd;
  --shaded-active: #bbbbbb;
  --unit: 8px;
  --big-space: calc(var(--unit) * 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
