.Input {
  display: flex;
  justify-content: center;
  font-size: var(--letter-font-size);
  height: 1.5em;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.Input-cursor {
  --blink: blinky steps(2, start) 1500ms infinite;
  animation: var(--blink);
  -webkit-animation: var(--blink);

  height: 80%;
  width: 2px;
  background: #9999ee;
}

@keyframes blinky {
  to { visibility: hidden; }
}

.Input-letter {
  margin-right: 4px;
}

.Input-letter-invalid {
  color: #cccccc;
}
