.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--letter-font-size);
  height: 1.5em;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.Input-cursor {
  --blink: blinky steps(2, start) 1500ms infinite;
  animation: var(--blink);
  -webkit-animation: var(--blink);

  height: 90%;
  width: 2px;
  background: #9999ee;
}

@keyframes blinky {
  to { visibility: hidden; }
}

.Input-letter {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.Input-letter-invalid {
  color: #cccccc;
}

.Input-invalid {
  animation: shake 0.75s;
}

@keyframes shake {
  0% { transform: translateX(1px); }
  10% { transform: translateX(-2px); }
  20% { transform: translateX(2px); }
  30% { transform: translateX(0px); }
  40% { transform: translateX(-5px); }
  50% { transform: translateX(0px); }
  60% { transform: translateX(8px); }
  70% { transform: translateX(0px); }
  80% { transform: translateX(-3px); }
  90% { transform: translateX(0px); }
  100% { transform: translateX(0px); }
}

.Input-11 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.95);
}
.Input-12 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.90);
}
.Input-13 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.85);
}
.Input-14 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.80);
  margin-right: 3px;
}
.Input-15 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.75);
  margin-right: 3px;
}
.Input-16 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.70);
  margin-right: 3px;
}
.Input-17 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.65);
  margin-right: 2px;
}
.Input-18 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.60);
  margin-right: 2px;
}
.Input-19 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.55);
  margin-right: 1px;
}
.Input-20 .Input-letter {
  font-size: calc(var(--letter-font-size) * 0.55);
  margin-right: 1px;
}
