.Letters {
  --letter-size: 64px;
  --letter-pad: 8px;
  position: relative;
  width: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
  height: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
}

.Letters-letter {
  background: #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--letter-size);
  width: var(--letter-size);
  font-size: var(--letter-font-size);
  text-transform: capitalize;
  position: absolute;
  transition: color 0.25s;
}

.Letters-updating  .Letters-letter {
  color: transparent;
}

.Letters-updating  .Letters-letter-center {
  color: inherit;
}

.Letters-letter:nth-child(1) {
  top: calc(var(--letter-size) / 2);
  left: 0;
}

.Letters-letter:nth-child(2) {
  top: 0;
  left: calc(var(--letter-size) + var(--letter-pad));
}

.Letters-letter:nth-child(3) {
  top: calc(var(--letter-size) / 2);
  left: calc(var(--letter-size) * 2 + var(--letter-pad) * 2);
}

.Letters-letter:nth-child(4) {
  top: calc(var(--letter-size) + var(--letter-pad));
  left: calc(var(--letter-size) + var(--letter-pad));
  background: #ff000040;
}

.Letters-letter:nth-child(5) {
  top: calc(var(--letter-size) * 1.5 + var(--letter-pad));
  left: 0;
}

.Letters-letter:nth-child(6) {
  top: calc(var(--letter-size) * 2 + var(--letter-pad) * 2);
  left: calc(var(--letter-size) + var(--letter-pad));
}

.Letters-letter:nth-child(7) {
  top: calc(var(--letter-size) * 1.5 + var(--letter-pad));
  left: calc(var(--letter-size) * 2 + var(--letter-pad) * 2);
}
