.Letters {
  --letter-size: 84px;
  --letter-pad: 8px;
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Letters-letters {
  position: relative;
  width: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
  height: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
}

.Letters-letter {
  font-size: calc(var(--letter-size) / 2.8);
  text-transform: capitalize;
  position: absolute;
  top: calc(95% / 3);
  left: calc(95% / 3);
  height: calc(110% / 3);
  width: calc(110% / 3);
  transition: transform 0.5s;
}

.Letters-letter-shape {
  fill: var(--shaded);
  transform: scale(1);
  transition: all 0.1s;
  cursor: pointer;
}

.Letters-letter-shape-active {
  fill: var(--shaded-active);
  transform: scale(0.9);
  transform-origin: center center;
}

.Letters-letter text {
  fill: black;
}

.Letters-letter-center .Letters-letter-shape {
  fill: var(--highlight);
}

.Letters-letter-center .Letters-letter-shape-active {
  fill: var(--highlight-active);
}

.Letters-letter-0 {
  transform: translate(-80%, -46%);
}

.Letters-letter-1 {
  transform: translate(0%, -92%);
}

.Letters-letter-2 {
  transform: translate(80%, -46%);
}

.Letters-letter-center {
  fill: var(--highlight);
}

.Letters-letter-3 {
  transform: translate(80%, 46%);
}

.Letters-letter-4 {
  transform: translate(0%, 92%);
}

.Letters-letter-5 {
  transform: translate(-80%, 46%);
}

.Letters-controls {
  display: flex;
  justify-content: space-between;
  margin-top: var(--big-space);
}

.Letters-controls > * {
  margin: 8px;
}
