.Letters {
  --letter-size: 84px;
  --letter-pad: 8px;
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  user-select: none;
}

.Letters-letters {
  position: relative;
  width: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
  height: calc(var(--letter-size) * 3 + var(--letter-pad) * 2);
}

.Letters-letter {
  fill: #ddd;
  font-size: calc(var(--letter-size) / 2.8);
  text-transform: capitalize;
  position: absolute;
  top: calc(100% / 3);
  left: calc(100% / 3);
  height: calc(100% / 3);
  width: calc(100% / 3);
  transition: all ease-in-out 0.3s;
}

.Letters-letter-shape {
  transform: scale(1);
  transition: all 0.1s;
}

.Letters-letter-shape-active {
  transform: scale(0.8);
  transform-origin: center center;
}

.Letters-letter text {
  transition: opacity 0.3s;
  fill: black;
}

.Letters-updating .Letters-letter text {
  opacity: 0;
}

.Letters-updating .Letters-letter-center text {
  opacity: 1;
}

.Letters-letter:nth-child(1) {
  transform: translate(-80%, -46%);
}

.Letters-letter:nth-child(2) {
  transform: translate(0%, -92%);
}

.Letters-letter:nth-child(3) {
  transform: translate(80%, -46%);
}

.Letters-letter:nth-child(4) {
  fill: var(--highlight);
}

.Letters-letter:nth-child(5) {
  transform: translate(80%, 46%);
}

.Letters-letter:nth-child(6) {
  transform: translate(0%, 92%);
}

.Letters-letter:nth-child(7) {
  transform: translate(-80%, 46%);
}
