.MenuBar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--unit) calc(var(--unit) * 2);
  box-sizing: border-box;
  border-bottom: solid 1px var(--border-color);
}

.MenuBar > * {
  margin-left: calc(var(--unit) * 2);
}
