.Words {
  border: solid 1px #ccc;
  border-radius: 6px;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: repeat(3, 8em);
  grid-template-rows: repeat(10, 2em);
  grid-auto-flow: column;
  justify-items: left;
}
