.Words {
  --words-width: 24em;
  border: solid 1px #ccc;
  border-radius: 6px;
  font-weight: var(--font-weight-normal);
  width: var(--words-width);
}

.Words-controls {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.Words-grid {
  overflow: auto;
  padding-bottom: 1em;
}

.Words-grid {
  display: grid;
  grid-template-columns: repeat(3, calc(var(--words-width) / 3));
  grid-template-rows: repeat(10, 2em);
  grid-auto-flow: column;
  justify-items: stretch;
}

.Words-word-pangram {
  color: blue;
}

.Words-word {
  padding: 8px 16px;
  text-align: left;
}
