.Words {
  border: solid 1px #ccc;
  border-radius: 6px;
  font-weight: var(--font-weight-normal);
  width: 100%;
}

.Words-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.Words-metrics {
  font-size: 80%;
  color: var(--text-color-light);
}

.Words-grid {
  overflow-x: scroll;
  padding-bottom: 1em;
}

.Words-grid {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-template-rows: repeat(10, 2em);
  grid-auto-flow: column;
  justify-items: stretch;
}

.Words-word-pangram {
  color: blue;
}

.Words-word {
  padding: 8px var(--big-space);
  text-align: left;
}

.Words-word-clickable {
  cursor: pointer;
}

.Words-word-clickable:hover {
  text-decoration: underline;
}

.Definition {
  font-family: serif;
  font-size: 20px;
  padding: 32px;
}

.Definition-word {
  font-weight: bold;
  font-size: 120%;
}

.Definition-definitions {
  text-align: left;
  margin: 0;
  margin-top: 1em;
  padding-left: 1.5em;
  font-style: italic;
  max-width: 20em;
}

.Definition-definition {
  margin-bottom: 1em;
  font-style: italic;
}

.Definition-definition:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .Words-controls {
    display: none;
  }

  .Words-grid {
    display: flex;
    padding-bottom: 0;
  }

  .Words-word {
    padding: 8px;
  }
}
